.mybody {
  background-color: #333;
}

.myh1 {
  color: white;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.myh2 {
  color: white;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.myp {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.mybutton {
  display: flex;
  padding: 0.9375rem 1.875rem;
  align-items: center;
  border-radius: 6.25rem;
  border: 1px solid #eb5757;
  background-color: transparent;
  color: #eb5757;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.mybutton:hover {
  background-color: #eb5757;
  color: white;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.carouselContainer {
  display: grid;
  height: 90vh;
  width: 100wh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;

  .contentContainer {
    .titleContainer {
      padding: 0 0 2rem 0;
    }
    .roleContainer {
      padding: 0 0 2rem 0;
    }
    .descriptionContainer {
      padding: 0 0 2rem 0;
    }
  }

  .imagesContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 35rem;

    .firstContainer {
      z-index: 4;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .first {
        border-radius: 1.5625rem;
        border: 8px solid #790707;
        width: clamp(20rem, 22.5vw, 25rem);
        height: auto;
      }
    }

    .secondContainer {
      z-index: 3;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .second {
        border-radius: 1.5625rem;
        border: 8px solid #15cfb0;
        width: clamp(20rem, 22.5vw, 25rem);
        height: auto;
      }
    }

    .thirdContainer {
      z-index: 2;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .third {
        border-radius: 1.5625rem;
        border: 8px solid #d8a651;
        width: clamp(20rem, 22.5vw, 25rem);
        height: auto;
      }
    }

    .fourthContainer {
      z-index: 1;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .fourth {
        border-radius: 1.5625rem;
        border: 8px solid #1f7570;
        width: clamp(20rem, 22.5vw, 25rem);
        height: auto;
      }
    }

    .fifthContainer {
      z-index: 0;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .fifth {
        border-radius: 1.5625rem;
        border: 8px solid #ad4851;
        width: clamp(20rem, 22.5vw, 25rem);
        height: auto;
      }
    }

    .controls {
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 10rem;
      z-index: 3;
      transform: translateY(5rem);

      .prevContainer,
      .nextContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 2px solid transparent;
        transition: border-color 0.3s ease, transform 0.3s ease;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 6.25rem;
        cursor: pointer;
      }

      .prevContainer:hover,
      .nextContainer:hover {
        border: #eb5757 2px solid;
        transform: scale(1.1);
        transition: border-color 0.3s ease, transform 0.3s ease;
        cursor: pointer;
      }

      .disabled {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 2px solid transparent;
        transition: border-color 0.3s ease, transform 0.3s ease;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 6.25rem;
        cursor: initial;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .carouselContainer {
    padding: 0 5vw;
  }
}

@media screen and (max-width: 950px) {
  .carouselContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100wh;

    .contentContainer {
      padding: 5rem 0 5rem 0;
    }

    .imagesContainer {
      padding: 5rem 0 5rem 0;

      .controls {
        padding: 0 0 4rem 0;
        transform: translateY(8rem);
      }
    }
  }
}
