:root {
  --primary-color: #4000ff;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.hints {
  text-align: center;
  padding: 1.4rem 0;
  background-color: whitesmoke;
  font-weight: 600;
}

mark {
  padding: 0.2rem 0.7rem;
  border-radius: 0.4rem;
  background-color: gold;
}

.timeline-wrapper {
  max-width: 100vw;
  height: 88vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline {
  height: 0.12rem;
  padding: 0 4rem;
  background-color: #888;
  list-style-type: none;

  --scale: 1;

  display: flex;
}

.timeline li {
  position: relative;
  width: 20rem;
}

.timeline li::before,
.timeline li::after,
.timeline li .title,
.data {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
}

.timeline li::before {
  content: "";
  top: 1rem;

  display: inline-block;
  width: 0.12rem;
  height: 1rem;
  background-color: #888;
}

.timeline li::after {
  content: attr(data-date);
  top: -3.4rem;
}

.timeline li .title {
  top: 2.4rem;
  font: 600 1.1rem "poppins", sans-serif;
}

.data {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #888;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
}
