.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.title {
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #333;
}

.staff {
  position: relative;
  width: 90%;
  height: 80px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 18px,
    black 2px,
    black 20px
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trebleClef {
  width: 65px;
  height: auto;
  position: absolute;
  left: 0;
  top: -0.75rem;
}

.noteWrapper {
  position: relative;
  text-align: center;
  width: 30px; /* width of note */
  height: 100%; /* fill staff vertically */
}

.note {
  position: absolute;
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
  cursor: pointer;
  /* filter: invert(44%) sepia(77%) saturate(6221%) hue-rotate(348deg)
    brightness(95%) contrast(101%); */
}

.note:hover {
  transform: scale(1.1);
}

.active {
  background: gold;
}

.date {
  display: block;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #555;
}

.noteInfo {
  position: absolute;
  top: 100%; /* below the staff */
  left: 50%; /* center under the note */
  transform: translateX(-50%);
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.6rem 3rem; /* vertical + horizontal padding */
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
  /* background-image: linear-gradient(45deg, blue, red); */
  opacity: 0;
}

.noteWrapper:hover .noteInfo {
  opacity: 1;
}

/* .popup {
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 220px;
  z-index: 10;
  animation: fadeIn 0.3s ease;
} */

.popup {
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%; /* center horizontally in staff */
  width: 22rem;
  height: 22rem;
  border-radius: 1rem;
  padding: 1rem;
  background-image: linear-gradient(45deg, blue, red);
  box-shadow: 0 0.1rem 0.4rem #0004;
  z-index: 100;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

.popup h3 {
  text-transform: capitalize;
  margin: 0 0 0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.popup p {
  background-color: #fff3;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}
