.timelineContainer {
  width: 90%;
  max-width: 800px;
  margin: 3rem auto;
}

.timelineBar {
  position: relative;
  height: 4px;
  background-color: #dfdfdf;
  margin: 2rem 0;
}

.fillingBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #7b9d6f;
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  z-index: 1;
}

.eventDot {
  position: absolute;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f8f8f8;
  border: 2px solid #dfdfdf;
  cursor: pointer;
  z-index: 2;
}

.eventDot.selected {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
  transition: transform 0.4s ease;
}

.eventDate {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  white-space: nowrap;
}

.eventTitle {
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  white-space: nowrap;
  text-align: center;
  color: #383838;
}

.eventContentWrapper {
  padding: 3rem 0;
  border-top: 1px solid #dfdfdf;
}

.eventContentWrapper h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.eventContentWrapper p {
  font-size: 1.6rem;
  color: #555;
}
