@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

:root {
  --background: #e1cfb7;
  --foreground: #171717;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-jost: "Jost", sans-serif;
  --font-lobster: "Lobster Two", sans-serif;
  --font-chewy: "Chewy", system-ui;
  --font-fredoka: "Fredoka", system-ui;
}

.font-bebas {
  font-family: var(--font-bebas);
}

.font-jost {
  font-family: var(--font-jost);
}

.font-lobster {
  font-family: var(--font-lobster);
}

.font-chewy {
  font-family: var(--font-chewy);
}

.font-fredoka {
  font-family: var(--font-fredoka);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e1cfb7;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  overflow-x: hidden;
  position: relative;
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

@keyframes bounce-note {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(90vh);
    opacity: 1;
  }
  80% {
    transform: translateY(80vh);
  }
  90% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
    opacity: 0;
  }
}

.animate-bounce-note {
  animation-name: bounce-note;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation-fill-mode: forwards;
}

.bg-homepage {
  background-image: url("https://eoihqopusjdnmgmfgyrr.supabase.co/storage/v1/object/public/assets/Scene%20Background/bg-scene1.png");
  background-size: cover;
  background-position: center;
}
