@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e1cfb7;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bounce-note {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(90vh);
    opacity: 1;
  }
  80% {
    transform: translateY(80vh);
  }
  90% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
    opacity: 0;
  }
}

.animate-bounce-note {
  animation-name: bounce-note;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation-fill-mode: forwards;
}
